:root {
  /* background */
  --c-dark: #141d2d;
  --c-light: #fff;
  --c-accent: #ff6b08;

  --c-dark-blue: #253045;
  --c-grey-blue: #4a5771;
  --c-grey-light: #f1f2f2;
  --c-grey: #bcc1d2;

  /* text */
  --txt-c-dark: var(--c-dark);
  --txt-c-grey: #4f5b70;
  --txt-c-grey-light: var(--c-grey-light);
  --txt-c-accent: var(--c-accent);
  --txt-c-light: var(--c-light);

  /* font */
  --font-main: "Acrom", sans-serif;

  /* container width */
  --vertical-scroll: 20px;
  --mobile: calc(300px + var(--vertical-scroll));
  --tablet: calc(640px + var(--vertical-scroll));
  --desktop: calc(900px + var(--vertical-scroll));
  --desktop-lg: calc(1146px + var(--vertical-scroll));

  /* animation */
  --animation-fast: 0.1s;
  --animation-slow: 0.3s;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-ExtraBold.eot");
  src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
    url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
    url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Bold.eot");
  src: local("Acrom Bold"), local("Acrom-Bold"),
    url("../fonts/acrom/Acrom-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Bold.woff") format("woff"),
    url("../fonts/acrom/Acrom-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Regular.eot");
  src: local("Acrom Regular"), local("Acrom-Regular"),
    url("../fonts/acrom/Acrom-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Regular.woff") format("woff"),
    url("../fonts/acrom/Acrom-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--font-main);
  background-color: var(--c-dark);
  color: var(--c-light);
}
