:root {
  /* background */
  --c-dark: #141d2d;
  --c-light: #fff;
  --c-accent: #ff6b08;

  --c-dark-blue: #253045;
  --c-grey-blue: #4a5771;
  --c-grey-light: #f1f2f2;
  --c-grey: #bcc1d2;

  /* text */
  --txt-c-dark: var(--c-dark);
  --txt-c-grey: #4f5b70;
  --txt-c-grey-light: var(--c-grey-light);
  --txt-c-grey-blue: var(--c-grey-blue);
  --txt-c-accent: var(--c-accent);
  --txt-c-light: var(--c-light);
  --txt-c-circle-dark: #4e586a;

  /* modals */
  --modal-bgd-dark: rgba(20, 29, 45, 0.8);

  /* font */
  --font-main: "Acrom", sans-serif;

  /* container width */
  --vertical-scroll: 20px;
  --mobile: calc(300px + var(--vertical-scroll));
  --tablet: calc(640px + var(--vertical-scroll));
  --desktop: calc(900px + var(--vertical-scroll));
  --desktop-lg: calc(1146px + var(--vertical-scroll));

  /* animation */
  --animation-fast: 0.1s;
  --animation-slow: 0.3s;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-ExtraBold.eot");
  src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
    url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
    url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Bold.eot");
  src: local("Acrom Bold"), local("Acrom-Bold"),
    url("../fonts/acrom/Acrom-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Bold.woff") format("woff"),
    url("../fonts/acrom/Acrom-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Regular.eot");
  src: local("Acrom Regular"), local("Acrom-Regular"),
    url("../fonts/acrom/Acrom-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Regular.woff") format("woff"),
    url("../fonts/acrom/Acrom-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

/* MODALS */

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--modal-bgd-dark);
}

/* MOBILE_MENU */

.modal-mobile-menu {
  pointer-events: none;
  opacity: 0;
  /* transform: translateX(-150%); */
  transition: opacity 1s ease-in-out;
  background-color: var(--c-light);
}

.modal-mobile-menu--active {
  opacity: 1;
  pointer-events: all;
  z-index: 9;
  /* transform: translateX(-0%); */
}

.modal-mobile-menu-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.modal-container {
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 10px 55px 10px;
}

.mobile-menu-container {
  height: 80%;
  justify-content: space-between;
  margin: 0;
}

.mobile-menu-items {
  display: flex;
  flex-direction: column;
}

.mobile-menu-item {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-grey);
  text-decoration: none;
  text-align: center;
  margin-bottom: 35px;
}

.mobile-menu-item:hover {
  text-decoration: underline;
}

.mobile-menu-items a:last-child {
  margin-bottom: 0;
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

/* MY VIDEO MODAL */

.modal-my-video {
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.modal-my-video--active {
  opacity: 1;
  pointer-events: all;
}

.my-video-container {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 10px;
}

.my-video-content {
  width: 100%;
}

/* REQUEST RECEIVED MODAL */

.modal-request-received {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.modal-request-received--active {
  opacity: 1;
  pointer-events: all;
}

.request-received-container {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  padding: 20px 10px;
  background-color: var(--c-light);
}

.request-received-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  margin-bottom: 15px;
}

.request-received-primary-msg {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-dark);
  margin-bottom: 15px;
}

.request-received-secondary-msg {
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  text-align: center;
  color: #000;
  margin-bottom: 80px;
}

/* PROJECT MODAL */

.project-modal {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.project-modal--active {
  opacity: 1;
  pointer-events: all;
}

.project-modal-container {
  background: var(--c-light);
  padding: 45px 0;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  height: 85%;
}

.project-modal-scrollable {
  overflow-y: auto;
  height: 100%;
  padding: 0 25px;
}

.project-modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--txt-c-dark);
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0 25px 0;
  display: block;
}

.project-modal-text {
  font-size: 16px;
  line-height: 145%;
  color: var(--txt-c-dark);
  margin: 0 0 30px 0;
}

.project-modal-img {
  width: 100%;
  margin-bottom: 30px;
}

.modal-close-btn {
  position: absolute;
  top: 2%;
  right: 2%;
  color: #b8c6da;
  cursor: pointer;
}

/* MODALS END */

/* FRONT PAGE */

.front-page {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: var(--c-dark);
  padding: 30px 10px 55px;
}

.front-page-my-name {
  margin-top: 37px;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  text-align: center;
}

.section-title {
  margin-top: 13px;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  text-align: center;
}

.front-page-description {
  margin: 22px 0;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
}

.navigation {
  display: flex;
  align-items: center;
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
}

.logo-link {
  display: flex;
}

.hire-me-btn {
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin: 0 20px 0 55px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  text-decoration: none;
}

.menu {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: var(--c-accent);
  cursor: pointer;
  margin: 0 auto;
  z-index: 9;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  border-top: 2px solid white;
  width: 14px;
  transition: 0.55s;
}
.menu-top {
  top: 10px;
  left: 8px;
}
.menu-middle {
  top: 14px;
  left: 8px;
}
.menu-bottom {
  top: 18px;
  left: 8px;
}

.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}
.menu-middle-click {
  opacity: 0;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}

.my-works-btn {
  width: 100%;
  height: 60px;
  background-color: var(--c-accent);
  font-family: Acrom;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-light);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.my-works-btn:hover {
  background-color: #f89654;
}

.my-photo {
  width: 100px;
  height: 115px;
  margin-top: 40px;
  align-self: center;
}

.about-me {
  margin: 17px 0;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-light);
}

.about-me-btn {
  width: 140px;
  height: 40px;

  align-self: center;

  background-color: transparent;
  border: 2px solid var(--c-accent);

  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  /* text-align: right; */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.about-me-btn:hover {
  transform: scale(1.1);
}

.about-me-btn--icon {
  width: 9px;
  height: 9px;
  margin: 0 7px 0.5px 0;
}

.laptop-img {
  margin: 37px 0;
}

.my-skills {
  margin: 0 42px;
  width: 185px;
  align-self: center;
}

.my-skills-list {
  align-self: center;
  margin: 30px 0;

  line-height: 19px;
  list-style: none;
  color: var(--txt-c-light);
}

.my-skills-list li + li {
  margin-top: 20px;
}

.my-skills-list li i {
  width: 10px;
  height: 10px;
}

.fa-circle::before {
  font-size: 10px;
  vertical-align: middle;
  color: var(--txt-c-accent);
}

.circle--black::before {
  color: var(--txt-c-circle-dark);
}

.my-skills-list li i:first-child {
  margin: 0 5px 0.5px 0;
}

.my-skills-list li i:last-child {
  margin-right: 15px;
}

.my-skills-list li i + i {
  margin: 0 5px 0.5px 0;
}

/* FRONT PAGE END */

/* ABOUT PAGE */

.about-page {
  margin: 52px 7px 56px 7px;
}

.page-title {
  margin-right: 33px;
  text-align: left;
  color: var(--txt-c-dark);
}

.about-me--title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  margin-bottom: 0;
}

.about-me--title span {
  display: inline-block;
  background-color: #141d2d;
  padding: 8px 16px 8px 9px;
}

.web-illustration {
  display: flex;
  flex-direction: column;
  position: relative;
}

.web-illustration span {
  display: block;
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  transform: rotate(90deg) translateX(70px);
}

.web-illustration img {
  position: absolute;
  width: 254px;
  height: 235px;
  margin: 53px 0 92px 23px;
}

.about-me--text {
  margin-top: 200px;
}

.about-me--text p {
  margin: 33px 10px;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
}

.about-me--text p:last-child {
  margin-bottom: 0;
}

/* ABOUT PAGE END */

/* PERSONAL PROJECTS */

.my-projects {
  background-color: var(--c-dark);
}

.my-projects h2 {
  margin-bottom: 10px;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-slider {
  margin: 20px 0 23px;
  max-width: 300px;
  height: 210px;
  border-radius: 5px 5px 0 0;
  background-color: var(--c-dark-blue);
}

.project-slider img {
  height: 172px;
}

.dots {
  padding: 10px 0 10px 20px;
}

.dots i:first-child::before {
  color: var(--txt-c-accent);
}

.project-dot::before {
  font-size: 7px;
  color: var(--txt-c-grey-blue);
}

.project-tech {
  max-width: 300px;
  margin: 0 10px 32px;
  overflow-x: hidden;
}

.personal-project-icon {
  margin-right: 14px;
  font-size: 15px;
  color: var(--txt-c-accent);
}

.project-tech span {
  display: inline-block;
  margin-bottom: 23px;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-light);
}

.show-more--btn {
  width: 185px;
  height: 45px;
  outline: none;
}

.item-end {
  width: 93.5%;
  border-top-color: rgb(62, 78, 106);
  border-top-style: solid;
  border-top-width: 1px;
}

/* PERSONAL PROJECTS END */

/* TEAM PROJECTS */

.my-team-projects {
  padding: 52px 10px 32px;
}

.substrate {
  position: absolute;
  top: 38px;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  z-index: -1;
}

.my-team-projects .section-title {
  margin: 0;
  margin-bottom: 10px;
  color: var(--txt-c-dark);
}

.my-team-projects .project-tech span {
  color: var(--txt-c-dark);
}

.my-team-projects .project-item .item-end {
  width: 93.5%;
  border-top-color: #bcc1d2;
  border-top-style: solid;
  border-top-width: 1px;
}

/* TEAM PROJECT END */

/* CALLBACK FORM */

.callback {
  padding: 0 10px 32px;
}
.form-container {
  background-color: var(--c-dark);
  padding: 35px 30px 40px 30px;
}

.callback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  width: 260px;
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
}

.form-description {
  width: 260px;
  margin: 0 0 30px 0;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
}

.callback-form-input {
  margin-bottom: 30px;
  padding: 10px 10px 15px 10px;
  border: none;
  border-bottom: 1px solid #3e4e6a;
  outline: none;
  text-align: center;
  background-color: transparent;
  color: grey;
}

.callback-form-submit {
  width: 100%;
  height: 45px;
  background-color: var(--c-accent);
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-light);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.callback-form-submit:hover {
  background-color: #f89654;
}

/* CALLBACK FORM END */

/* CALCULATOR */

.calculator {
  padding: 55px 10px 75px;
  background: var(--c-dark);
}

.calculator-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-title {
  margin-bottom: 25px;
  padding: 0 10px;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--c-light);
}

.calculator-descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
  margin: 0 0 40px 0;
}

.calculator-descr span {
  background: var(--c-accent);
  padding: 5px;
}

.calculator-descr .calculator-descr-accent {
  padding: 5px 10px;
}

.calculator-img {
  width: 200px;
}

.calculator-form {
  padding: 30px 25px 40px;
  background-color: #fff;
}

.calculator-info p:last-child {
  margin: 25px 0 35px;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
}

.calculator-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.calculator-form-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
}

.calculator-form-select {
  padding: 5px 0 17px 0;
  border: none;
  border-bottom: 1px solid #c2c8d3;
  outline: none;
  background-color: transparent;
}

.radio-container {
  display: flex;
  align-items: center;
}

.calculator-form-radio {
  margin-right: 10px;
}

.radio-label {
  margin-right: 15px;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
}

.calculator-form-total {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 0;
}

.calculator-form-total-cost {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: var(--txt-c-dark);
  margin: 0;
}

/* CALCULATOR END */

/* MULTI SELECT */

.calculator-form-input .tech-input-container .choices__item {
  background: var(--c-accent);
  border: none;
  border-radius: 3px;
  position: relative;
}

.calculator-form-input .tech-input-container:after {
  content: "\f107";
  height: 0;
  width: 0;
  position: absolute;
  right: 10px;
  top: 45%;
  margin-top: -2.5px;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.calculator-form-input .tech-input-container {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--c-grey);
  padding-left: 0;
  display: flex;
  align-items: center;
  min-height: 35px;
  box-sizing: border-box;
}

.calculator-form-input .choices__input {
  display: none;
}

.calculator-form-input .choices__item .choices__button {
  border-left: none;
  margin: 0;
  padding-left: 8px;
}

/* MULTI SELECT END */

/* FOOTER */

.footer {
  padding: 30px 30px 50px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
}

.my-name {
  font-weight: bold;
}

.my-specialization {
  margin-bottom: 20px;
  color: #233349;
}

.my-telephone {
  margin-bottom: 15px;
  font-weight: bold;
}

.my-telephone,
.my-email {
  color: var(--txt-c-dark);
  text-decoration: none;
  transition: all 0.3s ease;
}

.my-telephone:hover,
.my-email:hover {
  transform: scale(1.1);
}

.social-networks-icons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
}

.social-networks-icons a {
  text-decoration: none;
  font-size: 26px;
  color: #233349;
  transition: all 0.3s ease;
}

.social-networks-icons a:hover {
  display: inline-block;
  transform: scale(1.3);
}

/* FOOTER END */
